$color-primary: #3E775E;
$color-secondary: #9FC3AF;
$color-disabled: #C3D9CD;
$color-background: #FFFAEF;

$color-black: #000000;
$color-white: #FFFFFF;
$color-lightgray: #EDEDED;
$color-gray: #756D66;
$color-lightbrown: #E2CAB7;
$color-brown: #92715C;
$color-deepbrown: #4C382C;
$color-ashbrown: #766E67;

$color-red: #DF6045;
$color-orange: #F6BF7E;
$color-sky: #AED4E5;
$color-red-font: #E04B2B;
$color-orange-font: #EFA64F;
$color-sky-font: #19A2E0;
