@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KimjungchulGothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

$font-title: "GowunDodum-Regular";
$font-body: "GowunDodum-Regular";

$font-size-h: 2.4rem;
$font-size-p: 1.7rem;
$font-size-bigger: 2.2rem;
$font-size-small: 1.3rem;
$font-size-button: 1.5rem;

* {
  font-family: $font-body;
}