// mixin 문법은 scss 라네요
// @mixin / @include : 스타일 청크(묶음)를 쉽게 재사용할 수 있습니다.

@mixin place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin place-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin container-shadow {
  background-color: #ffffff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
}

@mixin wrapper-width {
  width: 80%;
  max-width: 1280px;
  margin: 0px auto;
}

@mixin font-Diary{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
}

@mixin text-center{
  align-items: center;
  text-align: center;
}