* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.GiftBox-wrapper{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%; 
    width: 100%;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.box {
    position: relative;
    width: 10em;
    height: 10em;
    left: -4rem;
}

.box-tape,
.box-tape-left,
.box-tape-right,
.box-tape-center,
.box-gifts,
.box-gift-shadow,
.box-gift,
.box-star {
    position: absolute;
}

.box-tape-center,
.box-tape-left,
.box-tape-right {
    background-color: #cc2424;
}

.box-tape {
    animation: bTape 1.5s ease-in-out infinite;
    bottom: 11em;
    left: 7.5em;
    width: 3em;
    height: 2em;
    transform-origin: 50% 50%; /* 수정된 부분 */
}

.box-tape-center {
    border-radius: 1em;
    width: 100%;
    height: 100%;
}

.box-tape-left,
.box-tape-right {
    box-shadow: 0 0 0 0.7em #ee2e2e inset;
    top: 0.3em;
    width: 4em;
    height: 5em;
    z-index: -1;
}

.box-tape-left::before,
.box-tape-right::before {
    background-color: #ee2e2e;
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    inset: 0;
}

.box-tape-left {
    animation: bLeft 1.5s ease-in-out infinite;
    border-radius: 1.5em 0 3em 1em / 1.5em 0 3em 3.5em;
    right: calc(100% - 0.75em);
    transform: rotate(35deg);
    transform-origin: 100% 15%;
}

.box-tape-left::before {
    clip-path: polygon(0 42%, 100% 12%, 100% 100%, 0 100%);
}

.box-tape-right {
    animation: bRight 1.5s ease-in-out infinite;
    border-radius: 0 1.5em 1em 3em / 0 1.5em 3.5em 3em;
    left: calc(100% - 0.75em);
    transform: rotate(-35deg);
    transform-origin: 0% 15%;
}

.box-tape-right::before {
    clip-path: polygon(0 12%, 100% 42%, 100% 100%, 0 100%);
}

.box-gifts,
.box-gift,
.box-gift-shadow {
    transform-origin: 50% 100%;
}

.box-gifts {
    animation: box-Bounce 1.5s ease-in-out infinite;
    background: linear-gradient(#cc2424, #cc2424) 50% 50% / 3.3em 100% no-repeat, #dfd9d9;
    border-radius: 1.5em;
    bottom: 0.5em;
    left: 3.3em;
    overflow: hidden;
    width: 11.4em;
    height: 9em;
}

.box-gift,
.box-gift-shadow {
    border-radius: 1em;
    width: 13em;
    height: 3.3em;
}

.box-gift {
    animation: box-Bounce2 1.5s ease-in-out infinite;
    background: linear-gradient(#ee2e2e, #ee2e2e) 50% 50% / 3.3em 100% no-repeat, #efffee;
    bottom: 8.7em;
    left: 2.5em;
}

.box-gift-shadow {
    animation: boxShadowBounce 1.5s ease-in-out infinite;
    background-color: #00000010;
    top: -1.5em;
    left: -1em;
}

.box-star {
    animation: starRotate1 1.5s ease-in-out infinite;
    background-color: #fcff50;
    clip-path: polygon(50% 0, 65% 35%, 100% 50%, 65% 65%, 50% 100%, 35% 65%, 0 50%, 35% 35%);
    transform: scale(0);
}

.box-star-2,
.box-star-4,
.box-star-5 {
    animation-name: starRotate2;
}

.box-star-1 {
    animation-delay: calc(1.5s * 0.5);
    top: 0;
    left: 12.5em;
    width: 1.5em;
    height: 1.5em;
}

.box-star-2 {
    animation-delay: calc(1.5s * 0.125);
    top: 2em;
    left: 10em;
    width: 1.75em;
    height: 1.75em;
}
.box-star-3 {
    animation-delay: calc(1.5s * 0.25);
    top: 8em;
    left: 0;
    width: 1.25em;
    height: 1.25em;
}
.box-star-4 {
    top: 10.5em;
    right: 0;
    width: 1.75em;
    height: 1.75em;
}
.box-star-5 {
    animation-delay: calc(1.5s * 0.375);
    top: 12em;
    left: 1.8em;
    width: 2.5em;
    height: 2.5em;
}

@keyframes bTape {
    from,
    50% {
        transform: translateY(0) rotate(0);
    }
    62.5% {
        transform: translateY(75%) rotate(0);
    }
    68.75% {
        transform: translateY(-37.5%) rotate(15deg);
    }
    75% {
        transform: translateY(-150%) rotate(5deg);
    }
    87.5% {
        transform: translateY(65%) rotate(-3deg);
    }
    to {
        transform: translateY(0) rotate(0);
    }
}

@keyframes bLeft {
    from,
    50% {
        transform: rotate(35deg);
    }
    62.5% {
        transform: rotate(45%);
    }
    75% {
        transform: rotate(30%);
    }
    87.5% {
        transform: rotate(45%);
    }
    to {
        transform: rotate(35deg);
    }
}

@keyframes bRight {
    from,
    50% {
        transform: rotate(-35deg);
    }
    62.5% {
        transform: rotate(-45%);
    }
    75% {
        transform: rotate(-35%);
    }
    87.5% {
        transform: rotate(-45%);
    }
    to {
        transform: rotate(-35deg);
    }
}

@keyframes box-Bounce {
    from,
    50% {
        transform: translateY(0) scale(1, 1);
    }
    62.5% {
        transform: translateY(4%) scale(1.12, 0.89);
    }
    75% {
        transform: translateY(-11%) scale(0.92, 1.1);
    }
    87.5% {
        transform: translateY(0) scale(1.05, 0.9);
    }
    to {
        transform: translateY(0) scale(1, 1);
    }
}

@keyframes box-Bounce2 {
    from,
    50% {
        transform: translateY(0) scale(1, 1) rotate(0);
    }
    62.5% {
        animation-timing-function: ease-in;
        transform: translateY(45%) scale(1.14, 0.95) rotate(0);
    }
    68.75% {
        animation-timing-function: ease-out;
        transform: translateY(-22.5%) scale(1.05, 1.03) rotate(15deg);
    }
    75% {
        animation-timing-function: ease-out;
        transform: translateY(-90%) scale(0.96, 1.1) rotate(5deg);
    }
    87.5% {
        transform: translateY(30%) scale(1.12, 0.93) rotate(-3deg);
    }
    to {
        transform: translateY(0) scale(1, 1) rotate(0);
    }
}

@keyframes boxShadowBounce {
    from,
    50% {
        transform: translateY(0) scale(1, 1) rotate(0);
    }
    62.5% {
        animation-timing-function: ease-in;
        transform: translateY(10%) scale(1.14, 0.95) rotate(0);
    }
    68.75% {
        animation-timing-function: ease-out;
        transform: translateY(-10%) scale(1.05, 1.03) rotate(15deg);
    }
    75% {
        animation-timing-function: ease-out;
        transform: translateY(-30%) scale(0.96, 1.1) rotate(5deg);
    }
    87.5% {
        transform: translateY(10%) scale(1.12, 0.93) rotate(-3deg);
    }
    to {
        transform: translateY(0) scale(1, 1) rotate(0);
    }
}

@keyframes starRotate1 {
    from {
        transform: scale(0) rotate(0);
    }
    25% {
        animation-timing-function: ease-out;
        transform: scale(1) rotate(0.25turn);
    }
    50%,
    to {
        transform: scale(0) rotate(0.5turn);
    }
}

@keyframes starRotate2 {
    from {
        transform: scale(0) rotate(0);
    }
    25% {
        animation-timing-function: ease-out;
        transform: scale(1) rotate(-0.25turn);
    }
    50%,
    to {
        transform: scale(0) rotate(-0.5turn);
    }
}
