/* @import "../../styles/font.scss";
@import "../../styles/color.scss";
@import "../../styles/utils.scss"; */

.KakaoLoginBtn-wrapper{
  display: flex;
  justify-content: center;
}

.btn-kakao {
  width: 300px;
  height: 46px;
  background: #FEE500;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: background-color 0.3s; 
}

.text {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.btn-kakao:hover {
  background-color: #fff7ac;
}