* {
    box-sizing: border-box;
}

.container {
    /* display: flex; */

    flex-direction: column;

    justify-content: center;

    margin-top: 10rem;

    max-width: 120rem;

    margin: auto;
}

.main-container {
    padding: 100px;

    background-color: white;

    /* border-radius: 6px; */

    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}

.title {
    font-size: 3rem;
    font-weight: 600;

    line-height: 3rem;

    text-align: center;
}

.contents-container {
    margin-top: 4rem;
    text-align: center;

    font-size: 1.3rem;
}

.form-container {
    margin-top: 2rem;
}

.input-container {
    margin-bottom: 0.5rem;
}

.input-item {
    width: 100%;

    padding-left: 1rem;
    padding-right: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;

    /* margin-top: 5px; */

    background-color: white;

    border-width: 0.1rem;
    border-radius: 0.6rem;
    border-style: solid;
    border-color: #9a0501;
}

.button-container {
    margin-top: 0.5rem;
}

.button-item {
    width: 100%;

    margin-top: 0.7rem;

    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    border-width: 0.1rem;
    border-radius: 4rem;

    font-weight: 600;

    color: white;

    background-color: #9a0501;

    transition-duration: 200ms;
}

.button-item:hover {
    background-color: #9a0601ed;
    border-color: #9a0601ed;
}
